@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

section[epub|type~="dedication"]#dedication{
	text-align: center;
}

footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="z3998:sender"],
[epub|type~="z3998:salutation"],
[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}

[epub|type~="z3998:valediction"]{
	padding-right: 1em;
}

[epub|type~="z3998:postscript"]{
	margin-top: 1em;
	text-align: initial;
	text-indent: 0;
}

/* notice stylying in chapter 35 */
#chapter-35 blockquote{
	margin-left: auto;
	margin-right: auto;
	max-width: 22em;
	outline: 1px solid black;
	padding-left: 1em;
	padding-right: 1em;
}

#chapter-35 blockquote header{
	font-variant: small-caps;
	text-align: center;
}

/* score sheet in chapter 40 */
table{
	border-collapse: collapse;
	font-variant-numeric: tabular-nums;
	margin: auto;
}

#chapter-40 blockquote caption{
	line-height: 1.5;
}

#chapter-40 blockquote td + td{
	text-align: right;
}

#chapter-40 blockquote abbr[epub|type~="z3998:initialism"]{
	font-style: italic;
}

#chapter-40 blockquote tbody tr:last-child td:first-child{
	text-indent: 1em;
}

#chapter-40 blockquote tfoot tr:first-child td:first-child{
	text-indent: 4em;
}

#chapter-40 blockquote tfoot tr:last-child td{
	text-align: center;
}

#chapter-40 blockquote tfoot td + td{
	border-top: 1px solid;
}
